services:
  product-service:
    build: ./product-service
    ports:
      - "8080:8080"

  order-service:
    build: ./order-service
    ports:
      - "8082:8082"

  gateway-service:
    build: ./gateway-service
    ports:
      - "8081:8081"
    environment:
      SERVICES_PRODUCT_URL: "http://product-service:8080"
      SERVICES_ORDER_URL: "http://order-service:8082"
    depends_on:
      - product-service
      - order-service
